/* --------------------- HEADER --------------------- */

/* --- Banner homepage --- */
.container{
    max-width: 100%;
}

.first-section{
    position: relative;
}

.nav-header{
    display: flex;
}

.banner-home{
    z-index: 3;
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
}

/* video */
.video-background{
    background: rgb(3,45,147,0.9);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
}
#video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* Logo */
.logo{
    text-align: center;
    margin: 30px 0px;
    width: 100%;
}
.logo img{
    width: 177px;
    height: 39px;
}

/* Menu */
.main-menu{
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    
}
.main-menu ul {
    padding-top: 10px;
}
.main-menu li{
    margin: 0px 0px 10px 0px;
    font-family: verlag-book, Arial, Helvetica, sans-serif;
}
.main-menu ul li a{
    color: #FFFFFF;
    font-size: 1em;
}
.main-menu .navbar-collapse{
    margin: 20px 0px;
}

/* Social Media */
.social-media{
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.logo-social{
    text-align: center;
    background-color: #fff;
    height: 26px;
    border-radius: 100%;
    width: 26px;
    color:rgb(3,45,147);
}
.social-media a:nth-child(2) .logo-social{
    margin: 0px 8px;
}

/* --------------------- First Section --------------------- */
/* Main Text */
.text-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30PX;
    color: #fff;
}
.text-header img{
    display:none;
}
.main-title {
    position: relative;
}
.main-title h1{
    z-index: 1;
    font-family: verlag-book, Arial, Helvetica, sans-serif;
    text-align: center;
}
.main-title h1:before {
    content: "";
    display: block;
    width: 100%;
    height: 17px;
    position: absolute;
    bottom: 7px;
    background-color: #0ACCB2;
    z-index: -1;
}

.main-text {
    margin-top: 40px;
    max-width: 1056px;
    text-align: center;
    padding: 0px 80px;
}

/* Arrow Down */
.arrow-Down {
    display: none;
}

/* --------------------- Second Section --------------------- */
.second-section{
    background: transparent linear-gradient(141deg, rgb(0,138,229,0.8) 0%, rgb(3,45,147,0.8) 100%) 0% 0% no-repeat padding-box;
}

/* Blocks solutions */
.card{
    max-width: 580px;
    border: none;
    background-color: #001954;
    border-radius: 4px;
    margin: 20px auto 0px auto;
    box-shadow: 0px 12px 36px #0000005C;
}
.card-title {
    color: #fff;
    font-family: verlag-bold, Arial, Helvetica, sans-serif;
    margin: 30px 0px 0px 15px;
    max-width: 325px;
}
.card-text{
    font-family: verlag-book, Arial, Helvetica, sans-serif;
    color:#AAAEB3;
    font-size: 18px;
    margin: 10px 0px 0px 15px;
}
.card-body{
    padding:0px;
    margin: 80px 0px 35px 15px!important;
}
.card-link{
    color:#0ACCB2;
}
.news {
    text-align: center;
    margin: 60px auto 20px auto;
}
.news a {
    color: #0ACCB2;
    font-family: verlag-bold, Arial, Helvetica, sans-serif;
    display: flex;
    margin: auto;
    width: 200px;
}

.news #arrowR {
    border: 3px solid #0ACCB2;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    margin-left: 10px;
    margin-top: -5px;
}
.news #arrowR .fa-chevron-right{
    margin: auto;
}

/*  Business Stand */
.container-body{
    max-width: 1250px;
}

.business-stand {
    margin-top: 60px;
}
.title-stand{
    text-align: center;
}
.title-stand h2{
    color:#001954;
    opacity: 0.6;
    font-family: verlag-bold, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

/* Accordion business stand */
.accordionBusiness{
    margin-top: 60px;
}
.card-business{
    display: flex;
    flex-direction: column;
}
.accordionBusiness .links-block{
    display: flex;
    flex-wrap: wrap;
}
.accordionBusiness ul li{
    position: relative;
    max-width: 200px;
    list-style: none;
    margin: 10px auto;
}
.accordionBusiness  ul li a span{
    background-color: #0ACCB2;
    border-radius: 50%;
    width: 66px;
    font-size: 2.3em;
    text-align: center;
    height: 66px;
    font-family: verlag-bold, Arial, Helvetica, sans-serif;
    padding-top: 3px;
    position: absolute;
    left: -60px;
}
.accordionBusiness .business-text {
    display: none;
}
.accordionBusiness .links-block li:first-child{
    padding-right: 16px;
}
.accordionBusiness .active{
    background: none;
    display: inline-block;
}
.accordionBusiness .links{
    display: block!important;
}
.accordionBusiness ul li a{
    width: 100%;
    height: 100%;
    display: flex!important;
    flex-direction: column;
    z-index: 2;
    color: #fff;
}
.accordionBusiness ul li a:hover{
    text-decoration: none;
}
.accordionBusiness ul li a h3, .accordionBusiness ul li a h4{
    z-index: 2;
    max-width: max-content;
    position: relative;
}
.accordionBusiness ul li a h4{
    font-family: verlag-book, Arial, Helvetica, sans-serif;
}
.accordionBusiness ul li a h4:before{
    content: "";
    display: block;
    width: 0%;
    height: 17px;
    position: absolute;
    bottom: 7px;
    background-color: #0ACCB2;
    z-index: -1;
    transition: width 1s;
}
.accordionBusiness ul li:hover a h4:before, .accordionBusiness ul li:focus a h4:before{
    width: 100%;
}


