/*Banner homepage */
.first-section{
    
    /* z-index: 1;
    top: 1080px;
    left: 0px;
    width: 1920px;
    height: 1180px;
    background: transparent linear-gradient(141deg, #008AE5 0%, #032D93 100%) 0% 0% no-repeat padding-box;
    opacity: 0.4; */

}

.container{
    max-width: 100%;
}

.nav-header{
    display: flex;
}

.banner-home{
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
}

#video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

/* Logo */

.logo{
    text-align: center;
    margin: 30px 0px;
    width: 100%;
}

/* Menu */
.main-menu{
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
}
.main-menu ul {
    padding-top: 10px;
}
.main-menu li{
    margin: 0px 0px 10px 0px;
}
.main-menu ul li a{
    color: #FFFFFF;
    font-size: 1em;
}
.main-menu .navbar-collapse{
    margin: 20px 0px;
}

/* Social Media */
.social-media{
    margin-top: 30px;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-social{
    text-align: center;
    background-color: #fff;
    height: 26px;
    border-radius: 100%;
    width: 26px;
    margin: 0px 8px;
}

