
@media (min-width: 576px) {

}

@media (min-width: 992px) {
    /* Main Menu */
    .main-menu li {
        margin: 0px 20px 10px 0px;
    }

    /* Social Media */
    .social-media{
        margin-top: 0px;
    }

    /* Main Text */
    .text-header {
        display: flex;
        margin-top: 320px;
        justify-content: center;
    }
    .text-header img{
        display:block;
    }
    .main-title{
        margin-top: 25px;
    }

    /* Arrow Down */
    .arrow-Down {
        display: block;
        display: flex;
        justify-content: center;
        margin-top: 150px;
    }
    #arrowD {
        width: 57px;
        height: 57px;
        border: 3px solid #fff;
        border-radius: 50%;
        display: flex;
        color: #fff;
    }
    #arrowD .fa-chevron-down{
        font-size: 1.05em;
        margin: auto;
    }

    /* Accordion card */
    .accordionBusiness .card{
        width: 100%;
    }
}


@media (min-width: 1200px) {
    /*Banner homepage */
    .banner-home{
        height: 1080px;
    }

    /* video */
    .video-background{
        height: 1080px;
    }

    /* Logo */
    .logo{
        text-align: left;
        margin: 37px 50px 30px 50px;
        width: auto;
    }

    /* Main menu */
    .main-menu{
        padding:0px; 
        float: right;
    }
    .main-menu ul {
        padding-top: 0px;
    }
    .main-menu li {
        margin: 37px 30px 10px 0px;
    }
    .main-menu .navbar-collapse {
        margin:0px;
    }

    
    /*  Business Stand */
    .title-stand{
        text-align: left;
    }
    .title-stand h2:first-child{
        font-size: 68px;
    }
    .title-stand h2:nth-child(2){
        font-size: 96px;
    }

    /* Accordion business stand */
    .accordionBusiness{
        display: flex;
    }
    #accordionBusiness button{
        width: 524px;
    }
    .accordionBusiness .links-block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .accordionBusiness .business-text{
        width: 580px;
    }
    .accordionBusiness ul li {
        max-width: 100%;
        margin:0px 0px 40px 20px;
    }
    .accordionBusiness ul li a h3{
        font-size: 68px;
    }
    .accordionBusiness ul li a h4{
        font-size: 44px;
        max-width: max-content;
        position: relative;
    }
    .accordionBusiness .links {
        margin-right: 88px;
    }    
}

@media (min-width: 1400px) {
    /* Logo */
    .logo{
        text-align: left;
        margin: 37px 0px 30px 100px;
        width: auto;
    }

    /* Main menu */
    .main-menu li {
        margin: 27px 30px 10px 0px;
    }
    .main-menu .navbar-collapse {
        margin: 22px -55px 0px 0px;
    }

    /* Social Media */
    .social-media{
        margin-top: 10px;
    }

    /* Solutions Blocs Second Section */
    .solutions {
        justify-content: center;
        z-index: 1;
        position: relative;
    }
    .solutions .card{
        z-index: 1;
    }
    .solutions .card:first-child{
        margin: -125px 60px 0px 0px;
    }
    .solutions .card:nth-child(2){
        margin: -125px 0px 0px 0px;
    }
}

@media (min-width: 1880px) {
    .news{
        margin: 0px;
        max-width: 150px;
        display: inline-block;
        position: absolute;
        right: -150px;
        top: 70px;    
        margin: 20px auto;
    }
    .news a{
        display: flex;
    }

}
